.friends-wrapper{
    display:flex;
    flex-direction: column;
    align-items: end;
    width:90%;
    margin-left: 280px;
    gap:12px;
}

.friends-thirds-container{
    display:flex;
    width:100%;
    gap:12px;
}

.friends-bottom-container{
    display:flex;
    width:100%;
    gap:12px;
}

.friendform{
    padding:12px 0px;
}

.friends-inbox{
    display:flex;
    flex-direction: column;
    border-radius: 16px;
    width: calc(33% - 24px);
    background-color: #181818;
    padding:12px 24px;
    color:white;
}

.friends-activity{
    display:flex;
    flex-direction: column;
    border-radius: 16px;
    width: calc(66% + 12px);
    background-color: #181818;
    padding:12px 24px;
    color:white;
}

.current-friend{
    color: #3FD6D6;
    font-weight:bold;
    font-size:18px;
    margin-top:0px;
}

.friend-data{
    display:flex;
    gap:48px;
    margin-left:-24px;
}

.friends-activity-dash{
    width:260px;
}

.friend-data h2{
    margin-left:-4px;
}

.friend-form-wrapper{
    display:flex;
    flex-direction: column;
    border-radius: 16px;
    width:33%;
    background-color: #181818;
    padding:12px 24px;
    color:white;
}

.friendlist-friendspage{
    background-color: #181818;
    border-radius:16px;
    width:33%;
    padding:12px 24px;
}

.friendslist-scroll{
    overflow-y:scroll;
    max-height:150px;
    scrollbar-width: none; /* Firefox: Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge: Hide scrollbar */
    margin-top:0px;
}
.friendlist-friendspage h2{
    font-size:24px;
}

.friendlist-friendspage li{
    list-style: none;
}

.friendrequests{
    width:33%;
    background-color: #181818;
    border-radius:16px;
    color:white;
    padding:12px 24px;
}

.friend-request-object{
    display:flex;
    align-items: center;
    gap:24px;
}
.friend-request-buttons{
    display:flex;
    align-items: center;
    gap:8px;
}

.request-from{
    margin:0px;
}

.accept{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 156, 0);
    border-style: none;
    padding:4px 6px;
    border-radius: 4px;
    cursor:pointer;
}
.reject{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 5, 5);
    border-style: none;
    padding:4px 6px;
    border-radius: 4px;
    cursor:pointer;
}

.accept svg{
    width:16px;
    height:16px;
   
}

.reject svg{
    width:16px;
    height:16px;
}


.friend-request-object{
    margin: 18px 0px;
}
