.friends-wrapper{
    display:flex;
    justify-content: end;
    width:90%;
    margin-left: 280px;
}

.friends-thirds-container{
    display:flex;
    width:100%;
    gap:12px;
}

.friendform{
    padding:12px 0px;
}



.friend-form-wrapper{
    display:flex;
    flex-direction: column;
    border-radius: 16px;
    width:33%;
    background-color: #181818;
    padding:12px 24px;
    color:white;
}

.friendlist-friendspage{
    background-color: #181818;
    border-radius:16px;
    width:33%;
    padding:12px 24px;
}
.friendlist-friendspage h2{
    font-size:24px;
}

.friendrequests{
    width:33%;
    background-color: #181818;
    border-radius:16px;
    color:white;
    padding:12px 24px;
}

.friend-request-object{
    display:flex;
    align-items: center;
    gap:24px;
}
.friend-request-buttons{
    display:flex;
    align-items: center;
    gap:8px;
}

.request-from{
    margin:0px;
}

.accept{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 156, 0);
    border-style: none;
    padding:4px 6px;
    border-radius: 4px;
    cursor:pointer;
}
.reject{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(168, 5, 5);
    border-style: none;
    padding:4px 6px;
    border-radius: 4px;
    cursor:pointer;
}

.accept svg{
    width:16px;
    height:16px;
   
}

.reject svg{
    width:16px;
    height:16px;
}

