.hero-container{
    max-width: 1440px;
    width: 50%;
    display:flex;
    justify-content:center;
    border-radius: 16px;
    background-color: black;
    padding-top:48px;
}

.hero-container h1{
    font-size: 64px;
}

.topartist-ul{
    list-style:none;
}

.topsong-ul{
    list-style: none;
}

.hero-artist-image{
    width: 250px;
}

.hero-song-image{
    width: 250px;
}

.hero-artist-title{
 font-size:24px;
 color:white;
 text-align: center;
}

.hero-song-title{
    font-size:24px;
    color:white;
    text-align: center;
}

.top-title{
    font-size: 16px;
    color: #3FD6D6;
    text-align: center;
    margin-top:-12px;
}