.home{
    padding-left:292px;
    color:white;
    padding-right:24px;
}

.dashboard-container{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.welcome-text{
    color: #C7C7C7;
    font-size:12px;
    font-weight:400;
    padding:0px;
    margin:0px;
    margin-top:-12px;
}

.total-time{
    font-size: 40px;
    font-weight:bold;
}

.smaller-size{
    font-size:24px;
}

.dashboard-welcome{
    display:flex;
    flex-direction: column;
    gap:12px;
}

.welcome-bottom{
    display:flex;
    justify-content: space-between;
    align-items: end;
}

.add-friends{
    all:unset;
    color:#C7C7C7;
    border: 1px solid #3E3E3E;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    font-size:12px;
    background-color: #181818;
    width:120px;
    height:35px;
    cursor:pointer;
}

.add-friends:hover{
    background-color: #131313
}

.add-friends svg{
    width:20px;
    fill: #C7C7C7;
}

.listening-habits{
    border: 1px solid #3E3E3E;
    border-radius:12px;
    padding-left:16px;
    padding-top:30px;
    padding-right:16px;
    max-width:1200px; /* IMPORTANT NEED TO REMOVE THIS LATER */
    display:flex;
    flex-direction:column;
    gap:16px;
}

.listening-habits-text{
    padding-left:8px;
}

.lh-title{
    font-size:16px;
    font-weight:bold;
}

.lh-text{
    color: #C7C7C7;
    font-size:12px;
    font-weight:400;
}

.time-period{
    color:white;
    font-weight:bold;
}

.toggle-button{
    all:unset;
    color:#C7C7C7;
    border: 1px solid #3E3E3E;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    font-size:12px;
    background-color: #181818;
    width:100px;
    height:35px;
    cursor:pointer;
}
.toggle-button:hover{
    background-color: #131313
}
.toggle-button svg{
    width:20px;
    fill: #C7C7C7;
}

.listening-habits-top{
    display:flex;
    justify-content: space-between;
    align-items:end;
}

.listening-habits-bottom{
    display:flex;
    justify-content: center;
    gap:16px;
}

.tracks-container{
    border: 1px solid #3E3E3E;
    border-radius: 12px;
    width:50%;
}

.artists-container{
    border: 1px solid #3E3E3E;
    border-radius: 12px;
    width:50%; 
}