form{
    display:flex;
    flex-direction:column;
    padding-top:24px;
    padding-left:48px;
}

.new-song{
    color:white;
}

label{
    font-size:18px;
    padding:12px 0px;
    color:white;
}

input{
    height:24px;
    font-size:18px;
}

form button{
    margin-top:16px;
    padding:12px;
    cursor:pointer;
    font-size:16px;
}