.topArtists-wrapper{
    display:flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 16px;
    width:50%;
    
}

.topArtists-h2{
    font-size: 24px;
    color:white;
    padding-left:32px;
    
}


.topArtists-ul{
    list-style: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:0px;
    flex-wrap:wrap;
}

.topArtists-li{
    display:flex;
    justify-content: start;
    align-items: center;
    gap:24px;
    padding:12px;
    color:white;
    border-radius:12px;
}

.topArtists-img{
    border-radius: 100px;
    width:60px;
    height:60px;
}

.topArtists-name{
    font-size:18px;
    font-weight:bold;
}

.image-wrapper{
    background-color: #3FD6D6;
    border-radius: 50px;
    padding: 8px 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}