.topArtists-wrapper{
    display:flex;
    flex-direction: column;
    background-color: #8FBC8F;
    padding: 20px;
    border-radius: 12px;
    gap:0px;
    height:fit-content;
    justify-content: center;
    align-items: center;
    
}

.topArtists-h2{
    font-size: 32px;
    
}


.topArtists-ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:24px;
    flex-wrap:wrap;
}

.topArtists-li{
    display:flex;
    justify-content: start;
    align-items: center;
    gap:30px;
}

.topArtists-img{
    border-radius: 100px;
    width:60px;
    height:60px;
}

.topArtists-name{
    font-size:18px;
    font-weight:bold;
}