.topSongs-wrapper{
    display:flex;
    flex-direction: column;
    background-color: #181818;
    width:50%;
    border-radius: 16px;
}

.topSongs-h2{
    font-size: 24px;
    color:white;
    padding-left:32px;
}

.topSongs-ul{
    list-style: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:0px;
    flex-wrap:wrap;
    margin-left:-10px;
    margin-top:0px;
}

.topSongs-li{
    display:flex;
    justify-content: start;
    align-items: center;
    gap:24px;
    padding:0px;
    color:white;
    border-radius:12px;
}

.topSongs-img{
    
    width:40px;
    height:40px;
    border-radius: 50px;
}

.topSongs-name{
    font-size:18px;
    font-weight:bold;
    margin-bottom: -10px;
}

.song-info{
    
    display:flex;
    flex-direction:column;
}