.topSongs-wrapper{
    display:flex;
    flex-direction: column;
    background-color: #181818;
    width:100%;
    border-radius: 16px;
    padding-top:12px;
    min-width:432px;
}

.topSongs-h2{
    font-size: 14px;
    color:white;
    padding-left:32px;
}

.topSongs-ul{
    list-style: none;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:12px;
    flex-wrap:wrap;
    margin-top:0px;
    padding-left:0px;
    padding-top:16px;
}

.topSong-ul-wrapper{
    height:405px;
    overflow-y:scroll;
    scrollbar-width: none; /* Firefox: Hide scrollbar */
    -ms-overflow-style: none; 
}

.topSongs-li{
    display:flex;
    justify-content: start;
    align-items: center;
    position:relative;
    gap:24px;
    padding:0px;
    color:white;
    padding-left:12px;
    display: grid; /* Enable grid layout */
    grid-template-columns: 24px 32px minmax(100px,175px) 1fr auto; /* Custom column sizes */
    gap: 10px; /* Optional: Space between grid items */
    padding-right:12px;
}

.topSongs-li:hover{
    background-color:#2a2a2a;
}

.topSongs-img{
    width:30px;
    height:30px;
    border-radius: 50px;
}

.topSongs-name{
    font-size:12px;
    font-weight:bold;
}

.topSongs-artist{
    font-size:12px;
    color: #C7C7C7;
}

.divider{
    display: grid; /* Enable grid layout */
    grid-template-columns: minmax(32px,68px) minmax(100px,175px) 1fr auto; /* Custom column sizes */
    gap: 10px; /* Optional: Space between grid items */
    color: #3E3E3E;
    border-bottom: 1px solid #3E3E3E;
    width:calc(100% - 24px);
    margin-left:12px;
}

.divider p{
    margin-bottom:8px;
}

.play-button-topSongs{
    fill:rgba(255, 255, 255, 0.453);
    width:14px;
    cursor:pointer;
}

.image-wrapper-songs{
    background-color: #3FD6D6;
    border-radius: 50px;
    padding: 2px 2px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.play-button-link-topSongs{
    display:none;
}

.topSongs-li:hover .index-topSongs{
    display:none;
}

.topSongs-li:hover .play-button-link-topSongs{
    display:flex;
}

.player-error{
    position:absolute;
    width:100%;
}

.actualname{
    margin-left:4px;
}