.topSongs-wrapper{
    display:flex;
    flex-direction: column;
    
    background-color: #8FBC8F;
    padding: 20px;
    border-radius: 12px;
    gap:0px;
    height:fit-content;
    justify-content: center;
    align-items: center;
}

.topSongs-h2{
    font-size: 32px;
}



.topSongs-ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:0px;
    flex-wrap:wrap;
}

.topSongs-li{
    display:flex;
    justify-content: start;
    align-items: center;
    gap:30px;
}

.topSongs-img{
    
    width:60px;
    height:60px;
}

.topSongs-name{
    font-size:18px;
    font-weight:bold;
    margin-bottom: -10px;
}

.song-info{
    max-width:200px;
    display:flex;
    flex-direction:column;
}